* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Work sans', sans-serif, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;

  font-size: theme('fontSize.lg');
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  letter-spacing: -1px;
  font-size: 18px;
  color:theme("colors.main");
  margin-right:10px
}
a:hover {
  border-bottom: 2px solid theme("colors.main");
  padding-bottom: 5px;
}

