* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family:Verdana, Geneva, Tahoma, sans-serif,monospace,"Work Sans";

  font-size: theme('fontSize.lg');
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  letter-spacing: -1px;
  font-size: 18px;
  margin-right:10px;
  font-weight: light;
  transition: all 0.3ms ease-in-out;
}
a:hover {
  color:theme('colors.morning') !important;
  transform: scale(1.2);
  font-weight: bold;

}

